:root {
  --background-color: #3e3838;
  --base-color: #f2edd7;
  --transition: all 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
}
